/*F6FCFF*/

body {
	background-color: #F6FCFF;
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
}

input::placeholder,
textarea::placeholder {
	font-family: "Montserrat", sans-serif;
}

input:focus,
textarea:focus {
	outline: none;
}

a,
nav button {
	text-decoration: none;
	border: none;
	background-color: transparent;
	cursor: pointer;
	transition: .4s;
	color: #000;
	font-family: "Montserrat", sans-serif;
	font-size: 1em;
}

a:hover,
nav button:hover {
	color: #BBB;
}